<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smiles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      .logoImg{
        width: 90px;
      }

      #galeria img{
        width: auto;
        height: 300px;
      }

      #galeria .col-lg-4{
        padding: 25px;
      }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img class="logoImg" src="/sonrisa.jpg" alt="imagen"> <span class="display-5">Smile Odontología</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Fotos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


    <section id="galeria" class="container">
      <div class="text-center pt-5">
        <h2>La odontología y su importancia en tu salud</h2>
        <p>La odontología es una especialidad médica que se encarga de la prevención, diagnóstico y tratamiento de las enfermedades y trastornos que afectan la boca y los dientes. El odontólogo es el profesional que se encarga de brindar estos servicios y es un experto en el cuidado y tratamiento de los dientes, encías, lengua, mandíbula y otras estructuras de la boca.</p>
      </div>
      <div class="row text-center">
        <div class="col-lg-4">
          <img src="img1.jpg" alt="Imagen">
        </div>
        <div class="col-lg-4">
          <img src="img2.jpeg" alt="Imagen">
        </div>
        <div class="col-lg-4">
          <img src="img3webp.webp" alt="Imagen">
        </div>
        <div class="col-lg-4">
          <img src="img4webp.webp" alt="Imagen">
        </div>
        <div class="col-lg-4">
          <img src="img5webp.webp" alt="Imagen">
        </div>
        <div class="col-lg-4">
          <img src="img6webp.webp" alt="Imagen">
        </div>
      </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>